//Адоптив для сайта



@media (max-width: 575.98px)
  html
    font-size: 9px

  header
    height: 100%
    min-height: 0

  .container
    width: 100%

  h2
   margin: 29px 0 15px

  .bg_header
    display: block
    background: url("../img/first_bg.png") no-repeat top center / cover
    width: 100%

  .carousel
    display: none

  .logo
    width: 150px

  .padding
    padding: 20px 0

  .menu_burger
    display: block
    text-align: end
    width: 100%

  .menu
    display: none
    flex-direction: column
    text-align: center
    margin-top: 7px
    li
      margin: 0
      .menu_link
        display: block
        padding: 7px 0
        box-sizing: border-box
        width: 100%

  .menu__active
    display: flex
    height: 100%
    transition: height 1s ease-out

  .search_box
    position: inherit
    &:focus-within  .search_text
      width: 70%
      padding: 0 5px

  .title_header
    display: none

  .button
    display: none

  .service_links
    padding: 10px 0 50px

  .bg, .bg_aside
    display: none

  .nav_button
    margin: 10px 0 20px

  .project
    display: none

  .position
    top: 9px
    min-height: 247px

  .video_presentation
    margin-top: 0
    .btn_play
      width: 50px
      height: 50px
      margin: 25px 0 5px
    p
      padding-top: 0
      margin-bottom: 30px
      width: 280px

  .flex_position
    position: relative
    flex-wrap: nowrap

  .img_iphone
    width: 152px
    margin-top: 154px
    margin-bottom: 50px


  .devices_position
    position: absolute

  .wrapper_mobil
    margin-top: 0
    h2
      padding-top: 0


  .list_plus
    margin: 11px 0 0 11px
    li
     padding-left: 0


  .logo_partners
    width: 50px
    margin: 0 auto

  .content_footer
    display: none

  .copy_footer_link
    text-align: center
    a
      margin: 11px 0


@media (min-width: 575.98px) and (max-width: 767.98px)

  html
    font-size: 12px

  .logo
    width: 150px

  .menu_burger
    display: block
    text-align: end
    width: 100%

  .menu
    display: none
    text-align: center
    margin-top: 7px
    li
      margin: 0
      .menu_link
        display: block
        padding: 0
        box-sizing: border-box
        width: 100%

  .menu__active
    display: flex
    justify-content: space-between
    height: 100%
    transition: height 1s ease-out

  .title_header
    .main_text
      font-size: 1.5rem

    h1
      font-size: 2.7rem

    .main_paragraph
      font-size: 0.9rem

  .rate
    text-align: center

  .button
    margin: 20px auto

  .project:after
    display: none

  .video_presentation
    margin-top: 10%
    .btn_play
      width: 60px
      height: 60px
      margin: 25px 0 5px
    p
      padding-top: 0
      margin-bottom: 30px
      width: 280px

  .img_iphone
    width: 258px
    margin-top: 150px


  .wrapper_mobil
    margin-top: 0
    h2
      padding-top: 0


  .list_plus
    margin: 11px 0 58px 11px

    li
      padding-left: 0



  .number_reached
    margin-top: 20px

  .logo_partners
    width: 60px
    margin: 0 auto

  .content_footer
    display: none

  .copy_footer_link
    text-align: center
    a
      margin: 11px 0

@media (min-width: 767.98px) and (max-width: 991.98px)

  html
    font-size: 14px

  .logo
    width: 150px

  .menu_burger
    display: block
    text-align: end
    width: 100%

  .menu
    display: none
    text-align: center
    margin-top: 7px
    li
      margin: 0
      .menu_link
        display: block
        padding: 0
        box-sizing: border-box
        width: 100%

  .menu__active
    display: flex
    justify-content: space-between
    height: 100%
    transition: height 1s ease-out

  .title_header
    .main_text
      font-size: 1.5rem

    h1
      font-size: 2.7rem

    .main_paragraph
      font-size: 0.9rem

  .rate
    text-align: center

  .button
    margin: 20px auto

  .project:after
    display: none

  .video_presentation
    margin-top: 8%
    .btn_play
      width: 80px
      height: 80px
      margin: 25px 0
    p
      padding-top: 0
      margin-bottom: 30px
      margin-top: 14px
      width: 415px

  .img_iphone
    width: 258px
    margin-top: 150px


  .wrapper_mobil
    margin-top: 0
    h2
      padding-top: 0


  .list_plus
    margin: 11px 0 58px 11px

    li
      padding-left: 0



  .number_reached
    margin-top: 20px

  .logo_partners
    width: 110px
    margin: 0 auto

  .footer_logo
    margin: 25px 0 0 0
    text-align: center
    a
      display: inline
      width: 0
  .center
    text-align: center
  h3
    margin: 25px 0 33px

  .copy_footer_link
    text-align: center
    a
      margin: 11px 0
