@import "vars"
@import "mixin"
body
  background-color: $white-color

//.flex
//  display: flex
//  justify-content: center
//------------------header-----------------
header
  height: 100vh

.bg-image
  height: 100vh
  min-height: 568px

.carousel
  position: absolute
  width: 100%
  left: 0

h1
  @include text($font-family-serif, $white-color, 52px, 700)
  text-align: center

h3
  @include text($font-family-serif, $color-headlines, 30px, 600)

.header
  position: relative

.head
  padding: 40px 0

.menu, .icon_sets
  display: flex
  justify-content: flex-end
  padding: 0
  margin: 0

.menu__item, .icon_sets__search
  list-style-type: none
  margin: 0 12px
  .item__button
    @include text($font-family-base, $white-color, 14px, 300)
    text-decoration: none
  .item__button:hover
    color: $color-active

.main_text
  margin-top: 100px
  .main_title__text
    @include text($font-family-serif, $white-color, 36px, 500)
    text-align: center
  .main_title__paragraph
    @include text($font-family-base, $white-color, 16px, 300)
    text-align: center
  .get_started
    @include text($font-family-serif, $white-color, 14px, 700)
    display: block
    margin: 40px auto
    padding: 15px 25px
    width: 170px
    background: $bg-button
    border-radius: 9px
    text-decoration: none
    text-transform: uppercase
    line-height: 23px
    text-align: center
  .get_started:hover
    background: $bg-button-active
  .get_started:active
    background: #eeeeee
    color: #191919
//----------------------section-----------------------

figure
  padding: 89px 0 80px

h5
  @include text($font-family-serif, $color-headlines, 22px, 600)
  margin-top: 25px

h5:hover
  color: $color-active
p
  @include text($font-family-base, $color-text, 14px, 300)

.service_links
  display: flex
  flex-wrap: wrap
  justify-content: center
  text-decoration: none
  text-align: center

.service_links:hover svg
  fill: $color-active

.service_links:hover h5
  color: $color-active

.service_links:hover:after
  background-color: $color-active

.service_links h5,
.service_links p
  width: 100%

.service_links:after
  content: ""
  display: block
  width: 100px
  height: 3px
  background-color: #f1eee9
  transform: scalex(0.3)
  transition: all 0.3s
.service_links:hover
    text-decoration: none
    &:after
      transform: scale(1)
