body {
  background-color: #eeeeee; }

.bg-image {
  margin-top: -7%; }

h1 {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-size: 52px;
  font-weight: 700; }

h3 {
  font-family: "Raleway", sans-serif;
  color: #555555;
  font-size: 30px;
  font-weight: 600; }

.slide {
  position: absolute; }

.header {
  position: relative; }

.head {
  padding: 40px 0; }

.menu, .icon_sets {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0; }

.menu__item, .icon_sets__search {
  list-style-type: none;
  margin: 0 14px; }
  .menu__item a, .icon_sets__search a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300; }
    .menu__item a a:hover, .icon_sets__search a a:hover {
      color: #c7b299; }
