body {
  background-color: #ffffff; }

header {
  height: 100vh; }

.bg-image {
  height: 100vh;
  min-height: 568px; }

.carousel {
  position: absolute;
  width: 100%;
  left: 0; }

h1 {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-size: 52px;
  font-weight: 700;
  text-align: center; }

h3 {
  font-family: "Raleway", sans-serif;
  color: #555555;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 83px 0 24px; }

.header {
  position: relative; }

.head {
  padding: 40px 0; }

.menu, .icon_sets {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0; }

.menu__item, .icon_sets__search {
  list-style-type: none;
  margin: 0 12px; }
  .menu__item .item__button, .icon_sets__search .item__button {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none; }
  .menu__item .item__button:hover, .icon_sets__search .item__button:hover {
    color: #c7b29a; }

.main_text {
  margin-top: 100px; }
  .main_text .main_title__text {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    text-align: center; }
  .main_text .main_title__paragraph {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    text-align: center; }

.button_get {
  margin: 40px auto; }

.button {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  display: block;
  padding: 15px 25px;
  width: 170px;
  background: #9a8776;
  border-radius: 9px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 23px;
  text-align: center;
  transition: background 0.3s; }

.button:hover {
  background: #252525;
  text-decoration: none;
  color: #ffffff; }

.button:active {
  background: #ffffff;
  color: #191919; }

figure {
  padding: 89px 0 80px; }

h5 {
  font-family: "Raleway", sans-serif;
  color: #555555;
  font-size: 22px;
  font-weight: 600;
  margin-top: 25px; }

h5:hover {
  color: #c7b29a; }

p {
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300; }

.service_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  text-align: center; }

.service_links:hover svg {
  fill: #c7b29a; }

.service_links:hover h5 {
  color: #c7b29a; }

.service_links:hover:after {
  background-color: #c7b29a; }

.service_links h5, .service_links p {
  width: 100%; }

.service_links:after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: #f1eee9;
  transform: scalex(0.3);
  transition: 0.3s; }

.service_links:hover {
  text-decoration: none; }
  .service_links:hover:after {
    transform: scale(1); }

.bg {
  width: 100%;
  background: #fbfaf8; }

.section_description {
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  text-align: center; }

.bg_section_realization {
  margin-top: 50px;
  width: 100%; }

.bg_aside {
  background: linear-gradient(to right, #1c1413, #4c2f22); }

h2 {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-size: 28px;
  font-weight: 400; }
  h2 span {
    color: #c7b29a; }

.button_now {
  margin: 40px 0 40px 60px; }

.section_purchase {
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  font-size: 18px;
  font-weight: 300;
  margin: 0; }

.nav_button {
  display: flex;
  justify-content: space-evenly;
  margin: 40px 0; }
  .nav_button button {
    font-family: "Montserrat", sans-serif;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    background: #ffffff;
    border: 1px inset #8c8c8c;
    border-radius: 3px;
    padding: 1px 19px;
    margin: 0 -55px;
    box-sizing: border-box;
    transition: background 0.8s; }
  .nav_button button:hover {
    background: #998675;
    color: #ffffff; }
  .nav_button button:focus {
    outline: none; }
  .nav_button button:active {
    background: #6b513c;
    color: #191919; }

.project {
  width: 350px;
  background: #fbfaf8;
  transition: background 1s;
  position: relative;
  margin-top: 30px; }
  .project .project img {
    filter: brightness(34%);
    transition: filter 1s; }
  .project a {
    width: 100%;
    height: 100%;
    position: absolute; }

.wrapper {
  padding: 25px 25px 15px; }
  .wrapper h6 {
    font-family: "Raleway", sans-serif;
    color: #c7b29a;
    font-size: 20px;
    font-weight: 500;
    margin: 0; }
  .wrapper p {
    font-family: "Montserrat", sans-serif;
    color: #d1d1d1;
    font-size: 14px;
    font-weight: 300;
    margin: 0; }

.project:after {
  position: absolute;
  content: "";
  border: 12px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  transition: border-bottom 1s;
  top: 203px;
  left: 38px; }

.project:hover:after {
  border: 12px solid transparent;
  border-bottom: 10px solid #332b29; }

.project:hover img {
  filter: brightness(30%);
  transition: filter 1s; }

.project_icon:hover {
  visibility: visible; }

.project:hover {
  background: #332b29; }

.project:hover .project_icon_link,
.project:hover .project_icon_search {
  visibility: visible; }

.project_icon_search {
  display: block;
  color: #ffffff;
  background: transparent;
  border: none;
  visibility: hidden;
  position: absolute;
  top: 106px;
  left: 175px; }
  .project_icon_search:hover {
    color: #c7b29a; }
  .project_icon_search:active {
    color: #6b513c; }
  .project_icon_search:focus {
    outline: none; }

.project_icon_link {
  display: block;
  color: #ffffff;
  background: transparent;
  border: none;
  visibility: hidden;
  position: absolute;
  top: 106px;
  left: 137px; }
  .project_icon_link:hover {
    color: #c7b29a; }
  .project_icon_link:active {
    color: #6b513c; }
  .project_icon_link:focus {
    outline: none; }
